/* current font Klee One font-family: 'Klee One', cursive; 400 600 */

* {
  font-family: 'Klee One', sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 200%;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

a,
button,
i {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 8rem;
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 2rem;
  width: 85%;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
}

th {
  font-weight: 600;
  text-align: start;
  background-color: lightgray;
}

th,
td {
  padding-left: 0.25rem;
  height: 2rem;
  border-left: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

td:nth-child(1) {
  width: 25%;
}

td:nth-child(3),
th:nth-child(3) {
  width: 20%;
  border-left: none;
}

button {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  font-weight: 600;
  box-shadow: 2px 2px 2px rgb(141, 141, 141);
}

button:hover {
  color: black;
  background-color: rgb(149, 188, 247);
}

button:active {
  background-color: rgb(241, 241, 241);
}

.entry-box button {
  margin-right: 0;
  margin-left: auto;
}

.space-ev {
  justify-content: space-evenly;
}

#days > button {
  box-shadow: none;
  margin: 0.25rem;
  font-size: 120%;
  width: 7rem;
  height: 6rem;
}

#days > button:hover {
  background-color: lightgray;
}

#days > button:active {
  background-color: rgb(241, 241, 241);
}

#days div h3 {
  margin: auto;
}

#add-entry-button {
  margin: auto;
  margin-top: 2rem;
  font-size: 100%;
  padding: 0.5rem 4rem;
}

#add-entry {
  display: flex;
  background-color: rgba(53, 53, 53, 0.479);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.entry-box {
  margin: auto;
  width: 75%;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  padding: 1rem 2rem 2rem;
}

.entry-box select {
  margin: 0 1rem  1rem 0;
}

.textarea-cont {
  padding: 1rem 0;
}

.center-buttons {
  display: flex;
  align-items: center;
}

.edit-button {
  color: white;
  background-color: #366cd1;
  padding: 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .entry-box {
    width: 50%;
  }
}
